@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at top,
      #3b1f1f,
      #1a0f0f 60%,
      #120808);
  color: #f5e6c8;
}
html {
  scroll-behavior: smooth;
}
